@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
/*    background-color: #000000!important; */
    background-image: "./images/background.jpg";
    margin: 0 auto;
	font-family: 'Raleway', sans-serif !important;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%), url('../images/bg2.jpg');
	background-repeat: no-repeat;
    background-size: 100% 48%;
}

.logo {
	width: 120px;
}

.navbar {
	margin-bottom: 0 !important;
}

.navbar-default {
	background-color: rgba(255, 255, 255, 0) !important;
	border-radius: 0 !important;
	border-color: transparent !important;
	font: black;
}

.nav-hr {
	background-color: rgba(255, 255, 255, 0);
	height: 3px; 
    margin: 30px -20px 20px;
	width: 110%;
	margin-bottom: 5px !important;
}

.navbar-default .navbar-nav>li>a {
	color: white !important;
	z-index: 100 !important;
	font-weight: bold;
	font-size: 16px;
}


.featured-recipes {
	padding: 50px;
	background-color: rgba(255, 255, 255, 0);
	text-align: center;
}

#featuredRecipes {
	width: 50%;
 	margin: 0 auto;
}

.carousel {
  width:50%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.featured-img {
    position: relative;
    width: 600px;
    height: 300px;
	box-shadow: 600px 300px rgba(0, 0, 0, 0.5) inset;
}

h1 {
    color: white;
    text-align: center;
}

.search-bar {
	padding-left:10px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: -30px;
	margin-bottom: 40px;
	font-size: 12px;
	width: 42%;
	border-width: 1px;
	border-color: #DFDFDF;
	background-color: #FFFFFF;
	color: #000000;
	border-style: solid;
	border-radius: 15px;
	box-shadow: 0px 0px 5px rgba(66,66,66,.75);
	text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
}

.search-bar:focus {
     outline:none;
}

.popular-recipes {
	padding-top: 30px;
	text-align: center;
	position: relative;
}

.pr-table {
	margin: 0 auto;
}


.pr-table td {
	padding: 25px 30px 40px 30px;
}

.pr-container {
	height: 400px;
	width: 300px;
	box-shadow: 600px 300px rgba(0, 0, 0, 0.4) inset;
}

.pr-caption {
	padding: 25;
	color: white;
}

.pr-text {
	padding-top: 10px;
}
