<html>
	<head>
		<meta charset="UTF-8">
		<title>Appetize</title>
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<link rel="stylesheet" type="text/css" href="./css/recipe.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="./js/index.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		      <a class="navbar-brand" href="index.html"><img class="logo" src="./images/logo1.png"/ alt="logo"></a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    <ul class="nav navbar-nav navbar-right">
			      <li><a href="recipes.php">Recipes</a></li>
			      <li><a href="submitRecipe.php">Submit</a></li>
			      <li><a href="contact.html">Contact Us</a></li>
			      <li><a href="signin.php">Sign In</a></li>
			    </ul>
			</div>
		</nav>

		<div class="search-bar-container">
			<!-- search box -->
			<input type="text" class="search-bar" src="./images/icon-search.svg" placeholder="Search for recipes" />
		</div>
		<button class="back" onclick="goBack()"> Back </button>

		<div class="recipe" ng-app="recipe" ng-controller="recipeController">
			<section class="recipe-left">
				<h1> {{ recipe.recipe_name }}</h1>
				<div class="recipe-img">
					<img src="{{ recipe.recipe_image }}" />
				</div>
				<div>
					<button ng-click="count = count + 1" ng-init="count=0">Like</button>
					<p>This recipe has been liked {{count}} times.</p>
				</div>
			</section>
			<section class="recipe-right">
				<h3 class="recipe-info"> Time: {{ recipe.recipe_hours }} hours {{ recipe.recipe_minutes }} min | ~${{ recipe.recipe_cost }} </h3>
				<section class="recipe-ingredients">
					<h3> Ingredients </h3>
					<ul>
						<li ng-repeat="x in ingredients"> {{ x }} </li>
					</ul>
				</section>

				<section class="recipe-instr">
					<h3> Preparation </h3>
					<p>
						{{ recipe.recipe_prep }}
					</p>
				</section>
			</section>
		</div>
		<footer>
			CS4753 | Diana Chang | Amanda Nguyen
		</footer>
		<script>
		var url = new URL(window.location.href);
		var id = url.searchParams.get("id");
		console.log(id);
		var app = angular.module('recipe', []);
		app.controller('recipeController', function($scope, $http) {
		    $http.get("recipe.php", {params: {id: id}})
		    .then(function (response) {
		      console.log(response.data.recipe);
		      $scope.recipe = response.data.recipe[0];
					$scope.ingredients = response.data.recipe[0].recipe_ingredients.split(",");
		    });
		});
		</script>
	</body>
</html>
